/**
 * For Manager Page
 * ----------------
 */

.author-banner {
  position:absolute;
  top:0;
  right:0;
  z-index:9999;
  height:40px;
  line-height:40px;
  padding:0 14px;
}

.widget-manager-menu ul li,
.widget-manager-menu ul li:first-child {
  margin:0 0 2px;
  padding:0;
  border:none;
  position:relative;
}

.widget-manager-menu a,
.accordion-header {
  display:block;
  background-color:#333;
  color:white;
  font-style:normal;
  font-weight:bold;
  font-size:100%;
  line-height:30px;
  height:30px;
  overflow:hidden;
  margin:0;
  padding:0 8px;
}

.accordion-header {margin-bottom:2px}

.widget-manager-menu a:focus,
.widget-manager-menu a:hover,
.accordion-header:focus,
.accordion-header:hover {background-color:#373737}
.widget-manager-menu a:active,
.accordion-header:active {background-color:#2F2F2F}

.widget-manager-menu a .fa,
.accordion-header:before {
  font-style:normal;
  font-weight:normal;
  color:#FFA;
}

.widget-manager-menu .selected a {
  background-color:#365D98;
  color:white;
  cursor:default;
}

.widget-manager-menu a .counter:before,
.widget-manager-menu a .counter:after {display:none}

.widget-manager-menu a .counter {
  position:absolute;
  top:5px;
  right:5px;
  line-height:20px;
  height:20px;
  background-color:#FFA;
  color:#333;
  padding:0 .5em;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
}

.widget-manager-menu .separator {display:none}

.tooltip {
  background-color:#333;
  border-color:#333;
  color:white;
}

.tab {
  background-color:#333;
  border-color:transparent; 
  color:white;
}

.tab:focus,
.tab:hover,
.tab:active {color:white}

.tab.active {
  background:none;
  border-color:inherit;
  color:inherit;
}

.checkbox:focus,
.checkbox:hover,
 label:hover .checkbox {color:#519F48}
.radio:focus,
.radio:hover,
 label:hover .radio {color:#3A64A4}

.checkbox.checked {color:#4B9343}
.radio.checked {color:#365D98}

.sortable.active,
.table-sortable tr.active {background-color:#FFA}

.accordion-header.active .fa {color:#4B9343}

.editor-toolbar a {
  background-color:#333;
  color:#FFA;
}

.editor-toolbar a:focus,
.editor-toolbar a:hover {background-color:#373737}
.editor-toolbar a:active {background-color:#2F2F2F}

.editor-preview {margin:0}
.editor-preview .preview-title {margin-top:0}

textarea[name="content"],
textarea[name="css"],
textarea[name="js"] {height:300px}

.main-actions {
  padding:1.3846153846153846em 0;
  border-top:4px solid;
  text-align:right;
}

.media-item {
  border-top:1px dashed;
  padding:1.3846153846153846em 0;
  margin:1.3846153846153846em 0 0;
}

.media-item + .media-item {margin-top:0}

.media-item h4 {
  margin:0 0 -.3em;
  line-height:1;
}

.plugin-author {
  background-color:#333;
  color:white;
  height:32px;
  line-height:32px;
  padding:0 2.5em 0 1em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  position:relative;
}

.plugin-author a {
  display:block;
  position:absolute;
  top:0;
  right:1em;
  color:#FFA;
  height:inherit;
  line-height:inherit;
}

.plugin-title {
  background-color:#365D98;
  color:white;
  padding:.5em .8em;
  margin:2px 0 0;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.plugin-description {
  margin:2px 0 0;
  border-top:6px solid transparent;
  padding:1.3846153846153846em;
}

.messages + .page-list,
.messages + .comment-list,
.tab-content-area .messages {margin-top:1.3846153846153846em}


/**
 * Page Listing
 * ------------
 *
 * I set the appearance as the same as the comment list layout on the `normal` shield.
 *
 */

.page-list {
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
}

.page {
  margin:2px 0 0;
  padding:1em 0;
  overflow:hidden;
}

.page-header,
.page-body {
  margin-bottom:.5em;
  overflow:hidden;
}

.page-footer {text-align:right}
.page-name {
  display:block;
  float:left;
  font-weight:bold;
}

.page-time {
  display:block;
  float:right;
  color:#AAA;
}

.pager a .fa {font-size:100%}

@media (max-width:580px) {
  .tab.active {
    background-color:#365D98;
    color:white;
  }
}