/**
 * For Manager Page
 * ----------------
 */

.author-banner {
  position:absolute;
  top:0;
  right:0;
  z-index:9999;
  height:30px;
  line-height:30px;
  padding:0 14px;
}

.widget-manager-menu ul li,
.widget-manager-menu ul li:first-child {
  margin:0 0 2px;
  padding:0;
  border:none;
  position:relative;
}

.widget-manager-menu a {
  display:block;
  background-color:#333;
  color:white;
  font-weight:bold;
  height:30px;
  line-height:30px;
  overflow:hidden;
  padding:0 8px;
}

.widget-manager-menu a:focus,
.widget-manager-menu a:hover {background-color:#373737}
.widget-manager-menu a:active {background-color:#2F2F2F}

.widget-manager-menu a .fa {
  font-weight:normal;
  color:#FFA;
}

.widget-manager-menu .selected a {
  background-color:#365D98;
  color:white;
  cursor:default;
}

.widget-manager-menu a .counter:before,
.widget-manager-menu a .counter:after {display:none}

.widget-manager-menu a .counter {
  position:absolute;
  top:5px;
  right:5px;
  line-height:20px;
  height:20px;
  background-color:#FFA;
  color:#333;
  padding:0 .5em;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
}

.tab-area {
  height:32px;
  line-height:30px;
  font-weight:bold;
  overflow:hidden;
}

.tab {
  display:block;
  float:left;
  margin:0 0 0 5px;
  padding:0 10px 0 8px;
  border:1px solid transparent;
  border-bottom:none;
  background-color:#333;
  color:white;
  position:relative;
}

.tab:focus,
.tab:hover {color:white}
.tab.active {
  background:none;
  border-color:inherit;
  color:inherit;
}

.tab.active:before,
.tab.active:after {
  content:"";
  display:block;
  position:absolute;
  bottom:-1px;
  z-index:4;
  width:999em;
  height:0;
  border-bottom:1px solid;
  pointer-events:none;
}

.tab.active:before {right:100%}
.tab.active:after {left:100%}
.tab-content {clear:both}

.editor-toolbar {
  height:26px;
  line-height:26px;
  overflow:hidden;
  margin:0 0 2px;
}

.editor-toolbar a {
  display:block;
  float:left;
  width:26px;
  height:inherit;
  line-height:inherit;
  text-align:center;
  margin:0 2px 0 0;
  background-color:#333;
  color:#FFA;
}

.editor-toolbar a:focus,
.editor-toolbar a:hover {background-color:#373737}
.editor-toolbar a:active {background-color:#2F2F2F}

.custom-modal-overlay {
  position:fixed !important;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:9999;
  background-color:black;
  opacity:.7;
}

.custom-modal {
  position:fixed !important;
  position:absolute;
  top:25%;
  left:50%;
  z-index:9999;
  background-color:white;
  border:1px solid;
  width:250px;
  padding:1em;
  margin-left:-125px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,.4);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,.4);
  box-shadow:0 1px 2px rgba(0,0,0,.4);
}

.custom-modal-header {font-weight:bold}
.custom-modal-content {margin:1em 0}
.custom-modal-content input {
  display:block;
  width:100%;
}

.editor-preview {margin:0}
.editor-preview .preview-title {margin-top:0}

textarea[name="content"],
textarea[name="css"],
textarea[name="js"] {
  height:300px;
  font-family:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,Monospace;
}

.form-upload .input-wrapper {
  position:relative;
  overflow:hidden;
}

.form-upload .input-wrapper input {
  display:block;
  position:absolute;
  top:0;
  left:0;
  margin:0;
  padding:0;
  width:200%;
  height:200%;
  opacity:0;
}

.main-actions {
  padding:1em 0;
  border-top:4px solid;
  text-align:right;
}

.tab-content-area {
  margin-top:0;
  padding-top:1.3846153846153846em;
}

.tab-content-area .grid-group:first-child {margin-top:0}

.media-item {
  border-top:1px dashed;
  padding:1.3846153846153846em 0;
}

.media-item h4 {
  margin:0 0 -.3em;
  line-height:1;
}

.media-headline + .media-item {margin-top:1.3846153846153846em}

.plugin-author {
  background-color:#333;
  color:white;
  height:32px;
  line-height:32px;
  padding:0 1em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.plugin-author a {color:#FFA}

.plugin-title {
  background-color:#365D98;
  color:white;
  padding:.5em .8em;
  margin:2px 0 0;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.plugin-description {
  margin:2px 0 0;
  border-top:6px solid transparent;
  padding:1.3846153846153846em;
}

.messages + .page-list,
.messages + .comment-list,
.messages + .tab-content + .tab-content .plugin-author {margin-top:1.3846153846153846em}

.messages ~ .tab-content h3:first-child {margin-top:18px}


/**
 * Page Listing
 * ------------
 *
 * I set the appearance as the same as
 * the comment list layout on the shield.
 *
 * `.comment-list` => `.page-list`
 * `.comment-header` => `.page-header`
 * ... etc.
 *
 */

.page-list {
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
}

.page {
  margin:2px 0 0;
  padding:1em 0;
  overflow:hidden;
}

.page-header,
.page-body {
  margin-bottom:.5em;
  overflow:hidden;
}

.page-footer {text-align:right}
.page-name {
  display:block;
  float:left;
  font-weight:bold;
}

.page-time {
  display:block;
  float:right;
  color:#AAA;
}

@media (max-width:580px) {
  .grid {
    float:none;
    display:block;
    width:auto;
    margin:0;
    padding:0;
  }
  .grid.form-label {
    text-align:left;
    line-height:inherit;
    margin:0 0 1.3846153846153846em;
  }
  .tab-area {
    height:auto;
    line-height:42px;
  }
  .tab {
    float:none;
    border:none;
    margin:0 0 2px;
    padding:0 16px 0 14px;
  }
  .tab.active {
    background-color:#365D98;
    color:white;
  }
  .tab.active:before,
  .tab.active:after {display:none}
}