.editor-toolbar {
  display:block;
  height:26px;
  line-height:26px;
}

.editor-toolbar a {
  display:block;
  float:left;
  width:26px;
  height:inherit;
  line-height:inherit;
  text-align:center;
  margin:0 2px 2px 0;
}

textarea + .editor-toolbar a {margin:2px 2px 0 0}

.custom-modal-overlay {
  position:fixed !important;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:9999;
  background-color:black;
  opacity:.7;
}

.custom-modal {
  position:fixed !important;
  position:absolute;
  top:25%;
  left:50%;
  z-index:9999;
  background-color:white;
  border:1px solid;
  width:250px;
  padding:1em;
  margin-left:-125px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,.4);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,.4);
  box-shadow:0 1px 2px rgba(0,0,0,.4);
}

.custom-modal-header {font-weight:bold}
.custom-modal-content {margin:1em 0}
.custom-modal-content input {
  display:block;
  width:100%;
}

.custom-modal-action {overflow:hidden}

.custom-modal-action button {
  display:block;
  float:left;
  outline:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

.custom-modal-action button + button {margin:0 0 0 .3076923076923077em}