html {
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  text-size-adjust:100%;
}

.th-icon,
.td-icon {
  text-align:center;
  vertical-align:middle;
  width:1em;
}

.table-bordered time {white-space:nowrap}

.main-action-group {
  padding:1.3846153846153846em 0;
  border-top:4px solid;
  text-align:right;
}

.main-action-group + .tab-area {margin-top:0}

.media {
  border-top:1px dashed;
  padding:1.3846153846153846em 0 1.3846153846153846em 11.3846153846153846em;
  margin:1.3846153846153846em 0 0;
  position:relative;
}

.media.no-capture {padding-left:0}
.media + .media {margin-top:0}

.media-title {
  margin:0;
  padding:0;
  font-size:140%;
  line-height:1;
}

.media-capture {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  width:10em;
  margin:1.3846153846153846em 0;
  background:transparent none no-repeat 50% 50%;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  overflow:hidden;
}

.media-content {margin:1.0769230769230769em 0 0}

.page-list {
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
}

.page-list .page {
  margin:2px 0 0;
  padding:1em 0;
  overflow:hidden;
}

.page-header,
.page-body {
  margin-bottom:.6153846153846154em;
  overflow:hidden;
}

.page-footer {text-align:right}

.page-title {
  display:block;
  float:left;
  font-weight:bold;
}

.page-time {
  display:block;
  float:right;
}

.plugin-author {
  height:2.4615384615384617em;
  line-height:2.4615384615384617em;
  padding:0 2.5em 0 1em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  position:relative;
  margin-bottom:0;
}

.plugin-author a {
  display:block;
  position:absolute;
  top:0;
  right:1em;
  height:inherit;
  line-height:inherit;
}

.plugin-title {
  padding:.5em .8em;
  margin:2px 0;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.plugin-description {padding:1.3846153846153846em}

.messages + .page-list,
.tab-content-area .messages {margin-top:1.3846153846153846em}

.hidden {display:none}

.hidden-visually,.sr {
  position:absolute !important;
  overflow:hidden;
  clip:rect(0 0 0 0);
  clip:rect(0px,0px,0px,0px);
  height:1px;
  width:1px;
  margin:-1px 0 0;
  padding:0;
  border:0;
}

.textarea-expand,
textarea[name="content"],
textarea[name="css"],
textarea[name="html"],
textarea[name="js"],
textarea[name="php"],
textarea[name="json"],
textarea[name="jsonp"],
textarea[name="xml"],
textarea[name="content[]"],
textarea[name="css[]"],
textarea[name="html[]"],
textarea[name="js[]"],
textarea[name="php[]"],
textarea[name="json[]"],
textarea[name="jsonp[]"],
textarea[name="xml[]"] {height:23.076923076923077em}

.no-appearance,
a.no-appearance,
button.no-appearance,
input.no-appearance,
select.no-appearance,
textarea.no-appearance {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  margin:0;
  padding:0;
  border:none;
  background:none;
  outline:none;
  font:inherit;
  color:inherit;
  text-align:inherit;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

@media (max-width:36.25em) {
  .media {padding-left:0}
  .media-capture {display:none}
}