.modal-overlay {
  position:fixed !important;
  position:absolute; 
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:white;
  opacity:.7;
  display:none;
}

.modal {
  position:fixed !important;
  position:absolute;
  top:20%;
  bottom:20%;
  left:50%;
  z-index:9999;
  width:600px;
  margin-left:-300px;
  background-color:white;
  border:4px solid;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-box-shadow:0 3px 10px rgba(0,0,0,.5);
  -moz-box-shadow:0 3px 10px rgba(0,0,0,.5);
  box-shadow:0 3px 10px rgba(0,0,0,.5);
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  display:none;
}

.modal-header {
  padding:0 1em;
  font:inherit;
  font-weight:bold;
  line-height:36px;
  height:36px;
}

.modal-content {
  padding:1em;
  border-top:1px solid;
  border-bottom:1px solid;
  position:absolute;
  top:36px;
  right:0;
  bottom:48px;
  left:0;
  z-index:4;
  overflow:auto;
}

.modal-content-inner {margin-bottom:1em}

.modal-footer {
  height:48px;
  position:absolute;
  right:0;
  bottom:0;
  left:0;
  overflow:hidden;
}

.modal-footer .btn {
  display:block;
  margin:6px 0 0 6px;
  float:left;
}

.modal-footer .btn + .btn {margin-left:.3076923076923077em}

.modal-close {cursor:pointer}

.modal-close-x {
  display:block;
  position:absolute;
  top:0;
  right:1em;
  width:1;
  height:36px;
  line-height:36px;
}

.modal-close-x .fa {
  height:inherit;
  line-height:inherit;
}

@media (max-height:600px) {
  .modal {
    top:5%;
    bottom:5%;
  }
}

.modal-small {
  top:50%;
  bottom:auto;
  width:300px;
  height:250px;
  margin-top:-125px;
  margin-left:-150px;
}

.modal-large {
  width:auto;
  height:auto;
  top:10%;
  right:10%;
  bottom:10%;
  left:10%;
  margin:0;
}

.modal-full-screen {
  width:auto;
  height:auto;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
}

@media (max-width:650px) {
  .modal {
    width:auto;
    height:auto;
    top:5%;
    right:5%;
    bottom:5%;
    left:5%;
    margin:0;
  }
}