/**
 * padding vertical = 6
 * padding horizontal = 10
 */

.help {cursor:help}

.tooltip {
  max-width:250px;
  background-color:black;
  border-color:black;
  color:white;
  font-size:96%;
  padding:6px 10px;
  position:absolute;
  z-index:9999;
  -webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
  -moz-box-shadow:0 5px 15px rgba(0,0,0,.5);
  box-shadow:0 5px 15px rgba(0,0,0,.5);
}

.tooltip-arrow {
  display:block;
  width:0;
  height:0;
  border:6px solid transparent;
  border-top-color:inherit;
  position:absolute;
  top:100%;
  left:50%;
  margin-left:-6px;
}

.tooltip.t .tooltip-arrow {border-bottom:none}

.tooltip.b .tooltip-arrow {
  border-bottom-color:inherit;
  border-top:none;
  top:auto;
  bottom:100%;
}

.tooltip.r .tooltip-arrow {
  left:8px;
  margin:0;
}

.tooltip.l .tooltip-arrow {
  right:8px;
  left:auto;
  margin:0;
}