.help {cursor:help}
a.help {cursor:pointer}

.tooltip {
  max-width:250px;
  background-color:black;
  border-color:black;
  color:white;
  font-size:86%;
  padding:.5366726296958855em .8944543828264758em;
  position:absolute;
  z-index:9999;
  -webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);
  -moz-box-shadow:0 5px 15px rgba(0,0,0,.5);
  box-shadow:0 5px 15px rgba(0,0,0,.5);
}

.tooltip-arrow {
  display:block;
  width:0;
  height:0;
  border:.5366726296958855em solid transparent;
  border-top-color:inherit;
  position:absolute;
  top:100%;
  left:50%;
  margin-left:-.5366726296958855em;
}

.tooltip.t .tooltip-arrow {border-bottom:none}

.tooltip.b .tooltip-arrow {
  border-bottom-color:inherit;
  border-top:none;
  top:auto;
  bottom:100%;
}

.tooltip.r .tooltip-arrow {
  left:.7155635062611807em;
  margin:0;
}

.tooltip.l .tooltip-arrow {
  right:.7155635062611807em;
  left:auto;
  margin:0;
}