.form-upload .input-outer {
  display:inline-block;
  position:relative;
  overflow:hidden;
}

.form-upload .input-outer input {
  display:block;
  position:absolute;
  top:0;
  right:0;
  margin:0;
  padding:100%;
  width:200%;
  height:200%;
  font-size:2000%;
  opacity:0;
}


/* Dora the Explorer */

.form-upload .input-outer input::-ms-value {display:none}

.form-upload .input-outer input::-ms-browse {
  display:block;
  margin:0;
  padding:0;
  cursor:inherit;
}