AddDefaultCharset UTF-8

<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>

<Files .htaccess>
  deny from all
</Files>

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.php [L,QSA]
</IfModule>