/**
 * Layout
 * ------
 */

article,
aside,
footer,
header,
hgroup,
section,
nav {display:block}

mark,
time {display:inline}

.cf,
.grid-group,
.widget-manager-bar {
  display:block;
  cursor:inherit;
  zoom:1;
}

.cf:after,
.grid-group:after,
.widget-manager-bar:after {
  content:"";
  display:table;
  clear:both;
}

.grid-group {
  margin-right:-.6923076923076923em;
  margin-right:-.6923076923076923rem;
  margin-left:-.6923076923076923em;
  margin-left:-.6923076923076923rem;
}

.grid {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-background-clip:content-box;
  -moz-background-clip:content-box;
  background-clip:content-box;
  min-height:1px;
  float:left;
  padding:0 .6923076923076923em;
  padding:0 .6923076923076923rem;
  cursor:inherit;
}

.grid-group.no-gap {
  margin-right:0;
  margin-left:0;
}

.no-gap .grid {
  padding-right:0;
  padding-left:0;
}

.span-1 {width:16.666%}
.span-2 {width:33.333%}
.span-3 {width:50%}
.span-4 {width:66.666%}
.span-5 {width:83.333%}
.span-6 {width:100%}

.cl {
  display:block;
  clear:both;
}

.pull-left,
.align-left {
  display:block;
  float:left;
}

.pull-right,
.align-right {
  display:block;
  float:right;
}

.align-center {
  display:block;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.align-top {vertical-align:top}
.align-bottom {vertical-align:bottom}
.align-middle {vertical-align:middle}

.text-left {text-align:left}
.text-right {text-align:right}
.text-center {text-align:center}
.text-justify {text-align:justify}

label {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

input[type="color"] {
  width:2em;
  height:2em;
  font-size:1em;
  line-height:2em;
}

.form-label {cursor:inherit}

.btn-block,
.input-block,
.select-block,
.textarea-block {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  display:block;
  width:100%;
}

.btn-small,
.input-small,
.select-small,
.textarea-small {font-size:86%}

.textarea-expand {height:23.076923076923077em}

.na,
a.na,
button.na,
input.na,
select.na,
textarea.na {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  margin:0;
  padding:0;
  border:none;
  background:none;
  outline:none;
  font:inherit;
  color:inherit;
  text-align:inherit;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

.table-bordered,
table[border="1"] {border-collapse:collapse}

.table-bordered th,
.table-bordered td,
table[border="1"] th,
table[border="1"] td {border:1px solid}

.table-full-width {width:100%}

.code {font-family:"Courier New",Courier,"Nimbus Mono L",Monospace}

.image-container,
.p {display:block}

.image-container img {
  display:block;
  margin-right:auto;
  margin-left:auto;
}

.fluid-media,
.fluid-video {
  display:block;
  height:0;
  position:relative;
  padding-bottom:100%;
  overflow:hidden;
}

.fluid-video {padding-bottom:56.25%}

.fluid-media embed,
.fluid-media iframe,
.fluid-media object,
.fluid-media video,
.fluid-video embed,
.fluid-video iframe,
.fluid-video object,
.fluid-video video {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.fluid-audio audio {
  display:block;
  width:100%;
}

.message {
  margin:0 0 2px;
  padding:.7692307692307693em .9230769230769231em;
  overflow:hidden;
}

.message > .fa.fa-fw:first-child {margin-left:-.15384615384615385em} /* (width - font-size) / 2 */

.hidden {display:none}

.hidden-visually,
.sr {
  position:absolute !important;
  overflow:hidden;
  clip:rect(0 0 0 0);
  clip:rect(0px,0px,0px,0px);
  height:1px;
  width:1px;
  margin:-1px 0 0;
  padding:0;
  border:0;
}


/**
 * Widget
 * ------
 */

.widget .counter:before {content: "("}
.widget .counter:after {content:")"}

.widget-manager-bar {
  position:absolute;
  top:0;
  right:0;
  z-index:9999;
  height:3.076923076923077em;
  line-height:3.076923076923077em;
  padding:0 1.5384615384615385em;
}

.widget-manager-bar .item {
  display:block;
  float:left;
  cursor:pointer;
}

.widget-manager-bar .item + .item {margin-left:.5384615384615384em}
.widget-manager-bar .label {display:none}

.widget-archive-dropdown select,
.widget-tag-dropdown select {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  display:block;
  width:100%;
  font:inherit;
  color:inherit;
  background:none;
  border:1px solid;
  outline:none;
  margin:0;
  padding:.5em;
  cursor:pointer;
}

.widget-archive-hierarchy ul,
.widget-archive-hierarchy li {
  margin:0;
  padding:0;
  list-style:none;
  clear:both;
}

.widget-archive-hierarchy .toggle {
  width:1.2em;
  float:left;
  text-align:left;
  text-decoration:none;
  color:inherit;
  cursor:pointer;
  font-family:Sans-Serif;
}

.widget-archive-hierarchy .toggle:empty:before {content:'\25BC'}
.widget-archive-hierarchy .toggle.close:empty:before {content:'\25BA'}

.widget-archive-hierarchy li ul {margin-left:1.2em}
.widget-archive-hierarchy li.close ul {display:none}

.widget .current > a {
  color:inherit;
  text-decoration:none;
}

.widget-tag-cloud {overflow:hidden}

.widget-tag-cloud .size {
  vertical-align:middle;
  white-space:nowrap;
}

.widget-tag-cloud .size-0 {font-size:80%}
.widget-tag-cloud .size-1 {font-size:90%}
.widget-tag-cloud .size-2 {font-size:100%}
.widget-tag-cloud .size-3 {font-size:110%}
.widget-tag-cloud .size-4 {font-size:120%}
.widget-tag-cloud .size-5 {font-size:130%}
.widget-tag-cloud .size-6 {font-size:140%}
.widget-tag-cloud .size-7 {font-size:150%}

.widget-recent-response ul,
.widget-recent-response li {
  margin:0;
  padding:0;
  border:none;
  list-style:none;
  overflow:hidden;
}

.widget-recent-response li + li {margin-top:.6153846153846154em}

.widget-recent-response .recent-response-avatar {
  display:block;
  float:left;
  width:50px;
  overflow:hidden;
}

.widget-recent-response .recent-response-avatar img {
  display:block;
  width:50px;
  height:50px;
  max-width:none;
  max-height:none;
  margin:.23076923076923078em 0 0;
}

.widget-recent-response .recent-response-header,
.widget-recent-response .recent-response-body {
  margin:0 0 .6153846153846154em;
  overflow:hidden;
}

.widget-recent-response .recent-response-name {
  display:block;
  font-weight:bold;
}

.widget-recent-response .recent-response-time {
  display:block;
  font-size:.6923076923076923em;
  text-transform:uppercase;
  letter-spacing:.2222222222222222em;
}

.widget-recent-response .recent-response-footer {clear:both}

.widget-recent-response .recent-response-avatar + .recent-response-header,
.widget-recent-response .recent-response-avatar + .recent-response-header + .recent-response-body,
.widget-recent-response .recent-response-avatar + .recent-response-header + .recent-response-body + .recent-response-footer {
  margin-left:50px;
  padding-left:1em;
}

.pagination {
  display:block;
  text-align:center;
}

.pagination a,
.pagination span,
.pagination strong {
  font-weight:normal;
  padding:0 .3076923076923077em;
}

.pagination span:first-child + span + span,
.pagination a:first-child + a + span {padding:0}

.fi {display:block} /* fragment identifier */