.checkbox,
.radio {
  display:inline-block;
  color:inherit;
  cursor:pointer;
}

.checkbox + input,
.radio + input {display:none}

.checkbox:before,
.radio:before {
  content:"\f0c8";
  display:inherit;
  font-style:normal;
  font-weight:normal;
  font-family:"FontAwesome";
  line-height:inherit;
}

.radio:before {content:"\f111"}

.checkbox.checked:before {content:"\f14a"}
.radio.checked:before {content:"\f192"}

.checkbox.disabled,
.checkbox.readonly,
.radio.disabled,
.radio.readonly {
  color:inherit !important;
  cursor:default;
}

.checkbox.disabled,
.radio.disabled {
  opacity:.8;
  cursor:not-allowed;
}

.radio {margin-left:.5em}
label:first-child .radio {margin-left:0}