.sortable-area {margin-bottom:1.3846153846153846em}

.sortable {
  position:relative;
  margin-left:1.5769230769230769em;
  border:1px solid;
  padding:.5em .8em;
  border-left-width:4px;
}

.sortable + .sortable {margin-top:2px}

.sortable .handle {
  position:absolute;
  top:0;
  right:100%;
  bottom:0;
  margin-right:.5em;
  width:1.0769230769230769em;
  text-align:center;
  vertical-align:middle;
}

.sortable .handle a,
.table-sortable .handle a {
  display:block;
  line-height:1;
  position:absolute;
  top:0;
  left:0;
}

.sortable .handle a + a {
  top:auto;
  bottom:0;
}

.table-sortable .handle {
  vertical-align:middle;
  text-align:center;
  width:1em;
}

.table-sortable .handle a {position:static}