@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i|Roboto+Mono:400,400i,700,700i');

*,
:before,
:after {
  margin:0;
  padding:0;
  font:inherit;
  text-decoration:none;
  text-transform:none;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
::-webkit-input-placeholder {
  color:inherit;
  opacity:.5;
}
::-moz-placeholder {
  color:inherit;
  opacity:.5;
}
:-moz-placeholder {
  color:inherit;
  opacity:.5;
}
:-ms-input-placeholder {
  color:inherit;
  opacity:.5;
}
:placeholder {
  color:inherit;
  opacity:.5;
}
:focus {outline:0}
a {
  color:#00a;
  text-decoration:none;
}
a:focus,
a:active {color:#a00}
abbr {
  border:0;
  text-decoration:none;
  cursor:inherit;
  border-bottom:1px solid transparent;
}
abbr[title]:hover {border-bottom-color:inherit}
b,dt,h1,h2,h3,h4,h5,h6,strong,th {font-weight:bold}
caption,em,figcaption,i,var {font-style:italic}
caption,figure {text-align:center}
code,small,sub,sup {font-size:75%}
ins,u {text-decoration:underline}
del,s {text-decoration:line-through}
img {
  max-width:100%;
  height:auto;
}
kbd {
  display:inline-block;
  vertical-align:middle;
  font-size:80%;
  line-height:1.5em;
  padding:0 .5em;
  cursor:pointer;
}
mark {
  background:#ff0;
  color:inherit;
}
sub,sup {
  display:inline;
  position:relative;
  vertical-align:middle;
}
sub {top:.5em}
sup {top:-.5em}
article,aside,footer,header,main,nav,section {display:block}
.button,
.input,
.select,
.textarea {
  display:inline-block;
  vertical-align:middle;
  background:#00a;
  border:0;
  color:#fff;
  width:12em;
  height:1.75em;
  line-height:1.75em;
  padding:0 .5em;
  text-align:left;
}
.input,.select,.textarea {
  background:#eef;
  color:inherit;
}
.button::-moz-focus-inner,
.input::-moz-focus-inner {
  margin:0;
  padding:0;
  border:0;
  outline:0;
}
.button {
  text-align:center;
  width:auto;
  padding-right:.5em;
  padding-left:.5em;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
}
.input[type="checkbox"],
.input[type="color"],
.input[type="radio"],
.input[type="range"] {
  width:auto;
  height:auto;
  background:none;
  border:0;
  padding:0;
  cursor:pointer;
}
.input[type="range"] {width:12em}
.button,.select,label {cursor:pointer}
label .input + span {
  display:inline-block;
  vertical-align:middle;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
}
.input[type="color"] {
  width:1.75em;
  height:1.75em;
}
.textarea {
  min-height:6em;
  resize:vertical;
}
.button:focus,
.button:active {
  background:#a00;
  color:#fff;
}
.block {
  display:block;
  width:100%;
}
.inline,
.inline-block {
  display:inline;
  width:auto;
}
.inline-block {display:inline-block}
.align-left {
  float:left;
  margin-top:.5rem;
  margin-right:1.5rem;
  margin-bottom:.5rem;
}
.align-right {
  float:right;
  margin-top:.5rem;
  margin-bottom:.5rem;
  margin-left:1.5rem;
}
.align-center {
  display:block;
  margin-right:auto;
  margin-left:auto;
}
.text-left {text-align:left}
.text-right {text-align:right}
.text-center {text-align:center}
.text-justify {text-align:justify}
.notes {
  margin-left:2.5%;
  margin-top:5%;
}
.notes hr {display:none}
.notes ol {font-size:80%}
.notes ol p {margin-top:.25em}
.xmp {background:#fed}
html {
  background:#fff;
  font:normal normal 18px/1.5 "Roboto Condensed",Roboto,Helmet,FreeSans,sans-serif;
  color:#000;
}
body {margin:5%}
h1 {font-size:240%}
h2 {font-size:190%}
h3 {font-size:150%}
h4 {font-size:120%}
h6 {font-size:90%}
h1,h2,h3,h4 {line-height:1}
blockquote,
dl,
fieldset,
figcaption,
figure,
form,
h1,h2,h3,h4,h5,h6,
hr,nav,ol,p,.p,pre,table,ul {margin:1rem 0 0}
ol,ul,dd {margin-left:2em}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-top:0;
  margin-left:1em;
}
ul {list-style:square}
hr {
  color:inherit;
  height:auto;
  border:0;
  text-align:center;
  margin:5% 0;
}
fieldset {
  border:1px dotted;
  padding:0 1em 1em;
}
legend {padding:0 .5em}
hr:before {content:'\2022\2002\2022\2002\2022'}
code,.code {font-family:"Roboto Mono","Courier New",Courier,"Nimbus Mono L",monospace}
blockquote {
  padding-left:1em;
  border-left:4px solid;
}
pre code {
  display:block;
  background:#def;
  padding:1em;
  white-space:pre-wrap;
  word-wrap:break-word;
  font-style:normal;
}
.table {
  border-collapse:collapse;
  width:100%;
}
.table caption {margin-bottom:1rem}
.table td,
.table th {
  vertical-align:top;
  text-align:left;
  border:1px solid;
  padding:.25em .5em;
}
header {margin-bottom:5%}
footer,
nav {margin-top:5%}
article:after,
footer:after,
header:after,
nav:after,
section:after {
  content:"";
  display:table;
  clear:both;
}
body > footer,
body > header,
body > main,
body > nav {
  max-width:50em;
  margin-right:auto;
  margin-left:auto;
}
nav li,
nav ul {
  margin:0;
  padding:0;
  list-style:none;
}
nav li {display:inline-block}
nav li + li {margin-left:1em}
article > footer,
article > header {
  margin-top:0;
  margin-bottom:0;
}
.page-page main nav {text-align:center}
.page-page article > footer,
.page-404 aricle > footer {margin-top:5%}
.page-page article > header,
.page-404 article > header {margin-bottom:5%}
.message {
  background:#fea;
  padding:.5em 1em;
}

@media (max-width:800px) {
  html {font-size:15px}
  .align-left,
  .align-right {
    float:none;
    display:block;
    margin:1rem auto 0;
  }
}
@media (min-width:501px) {
  body > footer p {
    margin-top:0;
    float:right;
  }
  body > footer p + p {float:left}
}