/**
 * ==============================================================================
 *  The following is required to style all general appearance of miscellaneous
 *  elements in page. You may seem this file contains a lot of things that are
 *  not useful, but this can keep your page layout stable accross browsers.
 *
 *  If you intend to contribute by making a theme for this CMS, I suggest you
 *  to include this file as a base CSS, so that it can accelerate your work.
 *
 *  Change the colors, font sizes and font families as you want.
 *
 *  PS: Excuse me with my CSS writing style. I like to keep it compact like this.
 * ==============================================================================
 *
 *
 *  @base-font-size: 13px;
 *  @base-line-height: 18px;
 *
 *
 *  Base    | +8%     | -8%
 *  ------- | ------- | -------
 *  #FFF    |         |
 *  #AAA    |         |
 *  #FF0    |         |
 *  #FFA    |         |
 *  #666    |         |
 *          |         |
 *  #333    | #373737 | #2F2F2F
 *  #365D98 | #3A64A4 | #32568C
 *  #4B9343 | #519F48 | #45873E
 *  #6AAAC2 | #72B8D2 | #629CB2
 *  #DB582C | #ED5F30 | #C95128
 *  #933    | #A53737 | #8D2F2F
 *          |         |
 *  #8EAB1A |         |
 *  #CF3030 |         |
 *  #FFDE76 |         |
 *          |         |
 *  #00A2D1 |         |
 *
 */


/* RESETS */

html,body,div,span,object,iframe,hr,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,del,dfn,em,
img,ins,kbd,q,samp,small,strong,
sub,sup,var,b,i,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,
figcaption,figure,footer,header,
hgroup,menu,nav,section,summary,
time,mark,audio,video {
  margin:0;
  padding:0;
  border:0;
  outline:none;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}

*:focus {outline:none}

::-webkit-input-placeholder {
  color:#AAA;
  opacity:1;
  overflow:visible; /* WebKit only :( */
  line-height:inherit;
}

::-moz-placeholder {
  color:#AAA;
  opacity:1;
  line-height:inherit;
}

:-moz-placeholder {
  color:#AAA;
  opacity:1;
  line-height:inherit;
}

:-ms-input-placeholder {
  color:#AAA;
  opacity:1;
  line-height:inherit;
}

:placeholder {
  color:#AAA;
  opacity:1;
  line-height:inherit;
}

:focus::-webkit-input-placeholder {color:#888 !important}
:focus::-moz-placeholder {color:#888 !important}
:focus:-moz-placeholder {color:#888 !important}
:focus:-ms-input-placeholder {color:#888 !important}
:focus:placeholder {color:#888 !important}

::-moz-selection {
  background-color:#F9DC62;
  color:#1A1A1A;
  text-shadow:none;
}

::selection {
  background-color:#F9DC62;
  color:#1A1A1A;
  text-shadow:none;
}

mark {
  background-color:#FF0;
  color:#333;
}

kbd {
  font-weight:bold;
  font-size:76%;
  padding:.2em .5em;
  border:2px outset;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

strong,b,th {font-weight:bold}
caption,dfn,em,figcaption,i,var {font-style:italic}
ins,u {text-decoration:underline}
del,strike {text-decoration:line-through}
small {font-size:80%}

sub,sup {
  position:relative;
  top:-.4em;
  font-size:80%;
}

sub {top:.4em}

blockquote {
  font-style:italic;
  font-size:110%;
  font-family:Georgia,"URW Bookman L",Serif;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content:"";
  display:none;
}


/* GENERAL */

html {
  font:normal normal 13px/1.3846153846153846em Helmet,FreeSans,Sans-Serif;
  overflow-y:scroll;
  overflow-x:hidden;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  text-size-adjust:100%;
}

body {
  background-color:white;
  color:#333;
}

a {
  color:#365D98;
  text-decoration:none;
}

a:focus,
a:hover {color:#666}

a img {border:none}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  line-height:1;
  margin:18px 0 0;
  margin-top:1.3846153846153846rem;
  word-wrap:break-word;
}

h1,.h1 {font-size:200%}
h2,.h2 {font-size:180%}
h3,.h3 {font-size:160%}
h4,.h4 {font-size:140%}
h5,.h5 {font-size:120%}
h6,.h6 {font-size:100%}

hr {
  border-top:1px dashed;
  color:inherit;
}

abbr,dfn {cursor:help}
abbr[title],dfn[title] {border-bottom:1px solid transparent}
abbr[title]:hover,dfn[title]:hover {border-bottom:1px solid}


/* FORM ELEMENTS */

button,
input,
select,
textarea,
.btn {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  display:inline-block;
  width:15.384615384615385em;
  vertical-align:middle;
  padding:.7692307692307693em;
  margin:0;
  font:inherit;
  line-height:normal;
  border:none;
  background-color:#333;
  color:white;
  text-align:left;
}

button {overflow:visible}

select {
  padding-top:.6923076923076923em;
  padding-bottom:.6923076923076923em;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  margin:0;
  padding:0;
  border:none;
  outline:none;
}

textarea {
  overflow:auto;
  height:auto;
  min-height:6.923076923076923em;
  line-height:inherit;
  resize:vertical;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
  width:auto;
  text-align:center;
  cursor:pointer;
  background-color:#333;
  text-align:center;
  text-decoration:none;
  color:#FFA;
  padding-left:.9230769230769231em;
  padding-right:.9230769230769231em;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.btn:focus,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.btn:hover {
  background-color:#373737;
  color:#FFA;
  text-decoration:none;
}

button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.btn:active {
  background-color:#2F2F2F;
  text-decoration:none;
  -webkit-box-shadow:inset 0 2px 1px rgba(0,0,0,.1);
  -moz-box-shadow:inset 0 2px 1px rgba(0,0,0,.1);
  box-shadow:inset 0 2px 1px rgba(0,0,0,.1);
}

.btn-action {background-color:#365D98}
.btn-action:focus,
.btn-action:hover {background-color:#3A64A4}
.btn-action:active {background-color:#32568C}
.btn-accept,
.btn-begin,
.btn-construct {background-color:#4B9343}
.btn-accept:focus,
.btn-accept:hover,
.btn-begin:focus,
.btn-begin:hover,
.btn-construct:focus,
.btn-construct:hover {background-color:#519F48}
.btn-accept:active,
.btn-begin:active,
.btn-construct:active {background-color:#45873E}
.btn-danger,
.btn-destruct,
.btn-error,
.btn-reject {background-color:#933}
.btn-danger:focus,
.btn-danger:hover,
.btn-destruct:focus,
.btn-destruct:hover,
.btn-error:focus,
.btn-error:hover,
.btn-reject:focus,
.btn-reject:hover {background-color:#A53737}
.btn-danger:active,
.btn-destruct:active,
.btn-error:active,
.btn-reject:active {background-color:#8D2F2F}

[disabled],
[readonly],
.btn-disabled,
.disabled,
fieldset[disabled] button,
fieldset[disabled] input,
fieldset[disabled] select,
fieldset[disabled] textarea,
fieldset[disabled] .btn {
  cursor:default;
  cursor:not-allowed;
  opacity:.9;
}

.btn-small,
.input-small,
.select-small,
.textarea-small {
  padding:.6261180679785331em .7155635062611807em;
  font-size:86%;
}

.btn-small {padding:.6261180679785331em .8944543828264758em}
.select-small {padding:.5366726296958855em .6261180679785331em}
.textarea-small {line-height:normal}

input[type="checkbox"],
input[type="radio"] {
  width:1.0769230769230769em;
  height:1.0769230769230769em;
  cursor:pointer;
  background:none;
  border:none;
  margin:0;
  padding:0;
  position:relative;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {height:auto}

input[type="file"],
input[type="range"] {
  padding:0;
  background:none;
  color:inherit;
  cursor:pointer;
}

input[type="color"] {
  font-size:1em;
  line-height:1em;
  padding:0;
  width:2em;
  height:2em;
  cursor:pointer;
}

label,select {cursor:pointer}

input[type="image"] {
  width:auto;
  height:auto;
  padding:0;
  background:none;
}

option,
optgroup {
  margin:0;
  padding:0;
}

optgroup {
  font:inherit;
  font-weight:bold;
}

optgroup option {
  padding-left:1em;
  font-weight:normal;
}

label input:checked + span {opacity:.8}

.form-label,
.form-static {
  display:block;
  padding-top:.7692307692307693em;
  padding-bottom:.7692307692307693em;
  line-height:normal;
}

.form-label {text-align:right}

fieldset {
  padding:0 1em 1em;
  border:1px solid;
}

legend {
  margin:0;
  padding:0 .5em;
  white-space:nowrap;
  text-transform:uppercase;
  font-weight:bold;
  font-size:76%;
  line-height:0;
  overflow:visible;
}


/* TABLES */

table {
  border-collapse:collapse;
  max-width:100%;
}

td,th {
  text-align:left;
  vertical-align:top;
}

.table-bordered caption,
table[border="1"] caption {
  margin:0 0 .5em;
  text-align:left;
}

.table-bordered th,
.table-bordered td,
table[border="1"] th,
table[border="1"] td {
  border:1px solid;
  padding:.5em .8em;
  word-wrap:break-word;
}


/* BLOCKS */

.code,code,pre {font-family:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,Monospace}

pre {
  overflow:auto;
  word-wrap:break-word;
  white-space:pre;
  white-space:-moz-pre-wrap;
  white-space:pre-wrap;
  padding:1em 1.2em;
  background-color:#333;
  color:white;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}

code {font-size:96%}

pre code {
  display:block;
  font-size:100%;
  color:inherit;
}

iframe {
  display:block;
  border:none;
  background:none;
  width:100%;
  height:6.923076923076923em;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

form,blockquote,hr,dl,dd,dt,fieldset,
figcaption,figure,ol,ul,p,pre,table,iframe,
.fluid-media,.fluid-video,.grid-group,
.image-container {margin:1.3846153846153846em 0 0}

.p {margin:1.3846153846153846em 0 0}

ol {
  margin-left:2.3846153846153846em;
  list-style:decimal outside;
}

ul {
  margin-left:2.3846153846153846em;
  list-style:disc outside;
}

ol > li > ul,
ul > li > ul {
  margin-left:1em;
  margin-top:0;
}

ol > li > ol,
ul > li > ol {
  margin-left:1.4em;
  margin-top:0;
}

li > p + ol,
li > p + ul,
li > .p + ol,
li > .p + ul {
  margin-top:1.3846153846153846em;
  margin-bottom:1.3846153846153846em;
  margin-left:2.3846153846153846em;
}

li > p + ol + p,
li > p + ul + p,
li > p + ol + .p,
li > p + ul + .p,
li > .p + ol + p,
li > .p + ul + p,
li > .p + ol + .p,
li > .p + ul + .p {margin-bottom:0}

dt {font-size:120%}
dd {margin-left:1em}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
form:first-child,
blockquote:first-child,
hr:first-child,
dl:first-child,
dd:first-child,
dt:first-child,
fieldset:first-child,
figure:first-child,
ol:first-child,
ul:first-child,
li > a + ol,
li > a + ul,
p:first-child,
pre:first-child,
table:first-child,
iframe:first-child,
.fluid-media:first-child,
.fluid-video:first-child,
.image-container:first-child,
.p:first-child,
.h1:first-child,
.h2:first-child,
.h3:first-child,
.h4:first-child,
.h5:first-child,
.h6:first-child,
.align-left:first-child + p,
.align-right:first-child + p,
.align-left:first-child + .p,
.align-right:first-child + .p {margin-top:0}


/* ALIGNMENTS */

.align-left {
  margin-right:1.3846153846153846em;
  padding-top:.38461538461538464em;
  padding-bottom:.38461538461538464em;
}

.align-right {
  margin-left:1.3846153846153846em;
  padding-top:.38461538461538464em;
  padding-bottom:.38461538461538464em;
}


/* TEXT */

.text-fade {color:#AAA}
.text-accept,
.text-begin,
.text-construct {color:#4B9343}
.text-info {color:#00A2D1}
.text-warning {color:#DB582C}
.text-danger,
.text-destruct,
.text-error,
.text-reject {color:#933}


/* MEDIA */

img {
  max-width:100%;
  height:auto;
}


/* MESSAGES */

.message {
  padding:.7692307692307693em .9230769230769231em;
  background-color:#333;
  color:white;
  overflow:hidden;
}

.message code {
  color:inherit;
  opacity:.7;
}

.message pre code {opacity:1}
.message-success {background-color:#8EAB1A}
.message-info {background-color:#6AAAC2}

.message-warning {
  background-color:#FFDE76;
  color:#333;
}

.message-error {background-color:#CF3030}
.message + .message {margin-top:2px}

.message-success a,
.message-info a,
.message-error a {color:#FFA}