/**
 * Layout for Normal Shield
 * ------------------------
 */


/* GENERALS */

body {
  border-top:5px solid;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.form-login {padding:10% 0}

.footnotes {margin-top:1.3846153846153846em}
.footnotes ol {font-size:84%}

.footnotes hr {
  border-style:solid;
  width:7em;
}


/* WRAPPER */

.blog-wrapper {
  width:69.23076923076923em;
  margin:0 auto;
}


/* HEADER */

.blog-header {margin:5% 0}
.blog-title {margin:0}
.blog-description {margin:1.3846153846153846em 0 0}


/* CONTENT */

.blog-content {
  margin-top:5%;
  overflow:hidden;
}


/* SIDEBAR */

.blog-sidebar {
  width:25%;
  float:left;
  clear:both;
  overflow:hidden;
}

.blog-sidebar .widget {margin:0 0 1.3846153846153846em}
.blog-sidebar h4 {margin:0}

.blog-sidebar-toggle {
  position:absolute;
  top:5px; /* border-top-width */
  left:0;
  width:1.5714285714285714em;
  height:1.4285714285714286em;
  font-size:2.1538461538461537em;
  line-height:1.4285714285714286em;
  text-align:center;
  display:none;
}

.blog-sidebar-toggle .fa {
  display:block;
  width:inherit;
  height:inherit;
  font-size:100%;
  line-height:inherit;
}


/* NAVIGATION */

.blog-navigation {
  height:3.076923076923077em;
  font-weight:bold;
  line-height:3.076923076923077em;
}

.blog-navigation ul,
.blog-navigation li {
  margin:0;
  padding:0;
  list-style:none;
}

.blog-navigation li {
  float:left;
  display:inline;
  position:relative;
}

.blog-navigation a {
  display:block;
  padding:0 1.2307692307692308em;
  margin:0 2px 0 0;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.blog-navigation .selected > a {
  background-color:#365D98;
  color:white;
}

.blog-navigation .selected > a:focus,
.blog-navigation .selected > a:hover {background-color:#3A64A4}
.blog-navigation .selected > a:active {background-color:#32568C}

.blog-navigation li ul {
  /*
  -webkit-transition:all .2s ease-out .2s;
  -moz-transition:all .2s ease-out .2s;
  -ms-transition:all .2s ease-out .2s;
  -o-transition:all .2s ease-out .2s;
  transition:all .2s ease-out .2ss;
  */
  line-height:2.6153846153846154em;
  position:absolute;
  top:100%;
  left:0;
  z-index:999;
  max-width:15.384615384615385em;
  min-width:10.76923076923077em;
  background-color:white;
  border:1px solid;
  -webkit-box-shadow:0 2px 5px rgba(0,0,0,.3);
  -moz-box-shadow:0 2px 5px rgba(0,0,0,.3);
  box-shadow:0 2px 5px rgba(0,0,0,.3);
  visibility:hidden;
  margin-top:-.25em;
  opacity:0;
}

.blog-navigation li li {
  float:none;
  display:block;
}

.blog-navigation li li a {
  padding:0 1.1538461538461537em;
  margin:0;
}

.blog-navigation li ul ul {
  top:-1px;
  left:100%;
  margin-top:0;
  margin-left:-.25em;
}

.blog-navigation li:hover > ul {
  visibility:visible;
  margin-top:0;
  margin-left:0;
  opacity:1;
}


/* POSTS */

.blog-sidebar + .blog-main {
  float:left;
  width:70%;
  padding:0 0 0 5%;
  overflow:hidden;
}

.post + .post {margin-top:5%}

.post-time {
  margin:0 0 1.3846153846153846em;
  text-transform:uppercase;
  letter-spacing:.15384615384615385em;
  color:#AAA;
}

.post-time .fa {
  font-size:107.6923076923077%;
  position:relative;
  top:-.07692307692307693em;
}

.post-index .post-time {font-size:80%}
.post-index .post-time .fa {top:0}

.post-title {
  margin:0 0 18px;
  margin-bottom:1.3846153846153846rem;
}

.post-footer {margin:5% 0 0}

.page-404 .post-body {
  padding:20% 0;
  text-align:center;
}


/* BLOG PAGER */

.blog-pager {
  overflow:hidden;
  margin-top:5%;
}

.blog-pager-prev {float:left}
.blog-pager-next {float:right}


/* COMMENTS */

.comments {margin:5% 0 0}

.comment-list {
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
}

.comment {
  margin:0;
  padding:1em 0 1em 1em;
  border-left:5px solid transparent;
  overflow:hidden;
}

.comment + .comment {margin-top:2px}

.comment-pilot {border-left-color:#365D98}

.comment-intruder {
  opacity:.4;
  pointer-events:none;
}

.comment-avatar {float:left}

.comment-avatar img {
  display:block;
  width:60px;
  height:60px;
  max-width:none;
  max-height:none;
}

.comment-avatar + .comment-header,
.comment-avatar + .comment-header + .comment-body,
.comment-avatar + .comment-header + .comment-body + .comment-footer {
  margin-left:60px;
  padding-left:1.3846153846153846em;
  overflow:hidden;
}

.comment-header,
.comment-body {
  margin-bottom:.6153846153846154em;
  overflow:hidden;
}

.comment-footer {text-align:right}

.comment-name {
  display:block;
  float:left;
  font-weight:bold;
}

.comment-time {
  display:block;
  float:right;
  color:#AAA;
}

.comment-form {margin:5% 12% 0 0}
.comment-form input[name="math"] {width:4em}


/* FOOTER */

.blog-footer {
  margin:5% 0;
  clear:both;
  overflow:hidden;
}

.blog-footer-left {float:left}
.blog-footer-right {float:right}


/* WIDGET OVERRIDES */

.widget ul,
.widget ul li {
  margin:0;
  padding:0;
  list-style:none;
}

.widget ul li {
  padding:.38461538461538464em 0;
  border-bottom:1px solid;
}

.widget ul li:first-child {border-top:1px solid}
.widget-archive-hierarchy ul li,
.widget-archive-hierarchy ul li:first-child {
  padding:0;
  border:none;
}

.widget-title + .widget-content {margin-top:.6153846153846154em}

.blog-sidebar .widget-search {
  background-color:#333;
  overflow:hidden;
  position:relative;
}

.blog-sidebar .widget-search input,
.blog-sidebar .widget-search button {
  display:block;
  width:100%;
  float:left;
  margin:0;
  padding:.7692307692307693em 2.923076923076923em .7692307692307693em .9230769230769231em;
  border:none;
  background:none;
}

.blog-sidebar .widget-search button {
  padding-right:0;
  padding-left:0;
  width:2.923076923076923em;
  position:absolute;
  top:0;
  right:0;
}

.widget-recent-comment ul li,
.widget-recent-comment ul li:first-child {
  border-width:0;
  padding:0;
}

.widget-recent-comment ul li + li {margin-top:.6153846153846154em}
.widget-recent-comment .recent-comment-time {color:#AAA}


/* SMALLER SCREEN */

@media (max-width:60em) {
  .blog-wrapper {
    width:auto;
    margin:0 5%;
  }
}

@media (max-width:43.125em) {
  body {padding-top:3.076923076923077em}
  .blog-header {text-align:center}
  .blog-navigation {
    display:none;
    height:auto;
  }
  .blog-navigation li {
    float:none;
    display:block;
  }
  .blog-navigation li ul {
    visibility:visible;
    margin-top:0;
    opacity:1;
    position:static;
    width:auto;
    max-width:100%;
    min-width:0;
    background:none;
    border:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
  }
  .blog-navigation li li ul {margin-left:0}
  .blog-navigation li ul a {
    font-weight:normal;
    font-size:96%;
    margin:0;
  }
  .blog-sidebar,
  .blog-main,
  .blog-sidebar + .blog-main {
    float:none;
    display:block;
    clear:both;
    width:auto;
    padding:0;
  }
  .blog-sidebar {
    padding-bottom:5%;
    display:none;
  }
  .blog-sidebar .widget-wrapper:last-child .widget {margin-bottom:0}
  .blog-sidebar-toggle,
  .blog-sidebar-is-visible .blog-navigation,
  .blog-sidebar-is-visible .blog-sidebar {display:block}
  .blog-sidebar-is-visible .blog-sidebar-toggle {
    position:static;
    float:left;
    margin:0 0 5%;
  }
  .blog-footer {text-align:center}
  .blog-footer-left,
  .blog-footer-right {
    float:none;
    display:inline;
  }
  .blog-footer-right:before {
    content:"\2013";
    color:#AAA;
    margin:0 1em;
  }
}

@media (max-width:36.25em) {
  .grid {
    float:none;
    display:block;
    width:auto;
    margin:0;
    padding:0;
  }
  .grid.form-label {
    text-align:left;
    line-height:inherit;
    margin:0 0 1.3846153846153846em;
  }
  .grid:empty {display:none}
  .form-login {padding:0}
  .comment-form {margin-right:0}
}