:root {
  --font-height: 1.5;
  --font-size: 20px;
  --gap: 5%;
  --margin: 1rem;
  --max-width: 40rem;
}

*,
::after,
::before {
  border: 0;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

::placeholder {
  color: inherit;
  opacity: .5;
}

:focus:not(:focus-visible) {
  outline: 0;
}

abbr {
  border-bottom: 1px solid transparent;
  cursor: inherit;
}

abbr[title]:hover {
  border-bottom-color: inherit;
}

b,
dt,
legend,
strong,
th {
  font-weight: bold;
}

caption,
em,
figcaption,
i,
var {
  font-style: italic;
}

caption,
figure {
  text-align: center;
}

sub,
sup {
  line-height: 0;
  position: relative;
}

sub {
  top: .25rem;
  vertical-align: sub;
}

sup {
  top: -.25rem;
  vertical-align: super;
}

del,
s {
  text-decoration: line-through;
}

img {
  height: auto;
  max-width: 100%;
}

ins,
u {
  text-decoration: underline;
}

a {
  color: #00a;
}

a:active,
a:focus {
  color: #a00;
}

body {
  margin: var(--gap);
}

details summary {
  cursor: pointer;
  user-select: none;
}

html {
  background: #fff;
  border-top: 5px solid;
  color: #000;
  font: normal normal var(--font-size)/var(--font-height) serif;
}

kbd {
  cursor: pointer;
  padding: 0 calc(((1rem * var(--font-height)) - var(--font-size)) / 2);
}

label {
  cursor: pointer;
  display: inline-block;
  height: calc((1rem * var(--font-height)) * 1.25);
  line-height: calc((1rem * var(--font-height)) * 1.25);
}

label input + span {
  display: inline-block;
  user-select: none;
  vertical-align: middle;
}

mark {
  background: #ff0;
  color: inherit;
}


/* <https://www.modularscale.com/?1&em&1.2> */

h1 {
  font-size: 3.583em;
}

h2 {
  font-size: 2.986em;
}

h3 {
  font-size: 2.074em;
}

h4 {
  font-size: 1.728em;
}

h5 {
  font-size: 1.44em;
}

h6 {
  font-size: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
}

p,
.p {
  font-size: 1em;
  font-weight: normal;
}

small,
sub,
sup {
  font-size: .833em;
}

* + blockquote,
* + details,
* + dl,
* + dt,
* + fieldset,
* + figcaption,
* + figure,
* + form,
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6,
* + hr,
* + nav,
* + ol,
* + p,
* + pre,
* + table,
* + ul,
* + .p {
  margin-top: var(--margin);
}

ol,
ul {
  margin-left: calc(var(--margin) * 2);
}

hr {
  color: inherit;
  height: auto;
  margin: var(--gap) 0;
  text-align: center;
}

hr::before {
  content: '\2022\2002\2022\2002\2022';
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0;
}

ul {
  list-style: disc;
}

fieldset {
  border: 1px solid;
  padding: 0 var(--margin) var(--margin);
}

legend {
  margin: 0 0 calc(var(--margin) / 3);
  padding: 0 calc(var(--font-size) / 2);
}

legend + * {
  margin-top: 0;
}

blockquote {
  border-left: 2px solid;
  font-size: 1.2em;
  padding-left: var(--margin);
}

blockquote blockquote {
  font: inherit;
}

code,
.code {
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
}

pre code {
  background: #000;
  color: #fff;
  display: block;
  padding: calc(var(--margin) - (((1rem * var(--font-height)) - var(--font-size)) / 2)) var(--margin);
  white-space: pre-wrap;
  word-wrap: break-word;
}

header {
  margin-bottom: var(--gap);
}

footer,
nav {
  margin-top: var(--gap);
}

* + article {
  margin-top: var(--margin);
}

h1 + p,
h2 + p {
  font-size: 1.2em;
}

nav li,
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin);
  justify-content: center;
}

main + nav {
  text-align: center;
}

body > div {
  margin: 0 auto;
  max-width: var(--max-width);
}

body > div > footer,
body > div > header {
  text-align: center;
}

@media (min-width: 801px) {
  body > div > footer,
  body > div > header {
    display: flex;
    justify-content: space-between;
  }
  body > div > footer p {
    margin-top: 0;
  }
  body > div > header h1 {
    font: inherit;
    font-weight: bold;
  }
  body > div > header nav {
    margin-top: 0;
  }
  body > div > header p {
    display: none;
  }
}

.button,
.input,
.output,
.select,
.textarea {
  accent-color: #00a;
  background: #eef;
  color: inherit;
  display: inline-block;
  height: calc((1rem * var(--font-height)) * 1.25);
  line-height: calc((1rem * var(--font-height)) * 1.25);
  padding: 0 calc((1rem * var(--font-height)) - var(--font-size));
  text-align: left;
  vertical-align: middle;
  width: 12rem;
}

.button::-moz-focus-inner,
.input::-moz-focus-inner {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

.button {
  background: #00a;
  color: #fff;
  text-align: center;
  user-select: none;
  width: auto;
}

.button:active,
.button:focus {
  background: #a00;
  color: #fff;
}

.input[type=checkbox],
.input[type=color],
.input[type=file],
.input[type=radio] {
  background: 0 0;
  border: 0;
  cursor: pointer;
  height: auto;
  padding: 0;
  width: auto;
}

.button,
.input[type=image],
.input[type=range],
.select {
  cursor: pointer;
}

.input[type=color] {
  height: calc((1rem * var(--font-height)) * 1.25);
  width: calc((1rem * var(--font-height)) * 1.25);
}

.select {
  -moz-padding-start: calc((1rem * var(--font-height)) - var(--font-size) - 3px); /* <https://github.com/twbs/bootstrap/issues/32636> */
  appearance: none;
}

::-moz-color-swatch {
  border: 0;
}

::-webkit-color-swatch {
  border: 0;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table caption {
  caption-side: bottom;
  margin-top: var(--margin);
}

.table td,
.table th {
  border: 1px solid;
  padding: calc(var(--font-size) / 3) calc(var(--font-size) / 1.5);
  text-align: left;
  vertical-align: top;
}

.textarea {
  min-height: calc(var(--font-size) * 6);
  resize: vertical;
}

.width {
  display: block;
  width: 100%;
}

:disabled {
  cursor: not-allowed;
  opacity: .5;
}

.align-center,
.align-center img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.align-left {
  float: left;
  margin-bottom: calc(var(--margin) * .5);
  margin-right: calc(var(--margin) * 1.5);
  margin-top: calc(var(--margin) * .5);
}

.align-right {
  float: right;
  margin-bottom: calc(var(--margin) * .5);
  margin-left: calc(var(--margin) * 1.5);
  margin-top: calc(var(--margin) * .5);
}

.align-left img,
.align-right img {
  display: block;
}

@media (max-width: 800px) {
  .align-left,
  .align-right {
    display: block;
    float: none;
    margin: 0 auto;
  }
  * + .align-left,
  * + .align-right {
    margin-top: var(--margin);
  }
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}


/* `.\lot\x\alert` */

.alert p {
  background: #fea;
  padding: calc(var(--margin) / 2) var(--margin);
}

.alert .error {
  background: #faa;
}

.alert .info {
  background: #aee;
}

.alert .success {
  background: #afa;
}

body > .alert {
  margin-bottom: var(--gap);
}

/* `.\lot\x\markdown` */

.notes {
  margin-top: var(--gap);
}

.notes hr {
  display: none;
}