/**
 * ============================================================================================
 *  The following is required to style all general appearance of miscellaneous element in
 *  page. It may seem that this file contains a lot of things that are not useful, but this is
 *  how I can keep the page layout appearance stable accross browsers.
 *
 *  If you intend to contribute by making a theme for this CMS, I suggest you to include this
 *  file as a base CSS, so that it can accelerate your work.
 *
 *  PS: Excuse me with my CSS writing style. I like to keep everything compact like this.
 * ============================================================================================
 *
 *  @base-font-size: 13px;
 *  @base-line-height: 18px;
 *
 */


/* RESET */

html,body,div,span,object,iframe,hr,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,del,dfn,em,
img,ins,kbd,q,samp,small,strong,
sub,sup,var,b,i,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,
figcaption,figure,footer,header,
hgroup,menu,nav,section,summary,
time,mark,audio,video {
  margin:0;
  padding:0;
  border:0;
  outline:none;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}

*:focus {outline:none}

kbd {
  font-weight:bold;
  font-size:76%;
  padding:.2em .5em;
  border:2px outset;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

strong,b,th {font-weight:bold}
caption,dfn,em,figcaption,i,var {font-style:italic}
ins,u {text-decoration:underline}
del,strike {text-decoration:line-through}
small {font-size:80%}

sub,sup {
  position:relative;
  top:-.4em;
  font-size:80%;
}

sub {top:.4em}

blockquote {
  font-style:italic;
  font-size:110%;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content:"";
  display:none;
}


/* GENERAL */

html {
  font:normal normal 13px/1.3846153846153846em Sans-Serif;
  overflow-y:scroll;
  overflow-x:hidden;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  text-size-adjust:100%;
}

a {text-decoration:none}
a img {border:none}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
  display:block;
  line-height:1;
  margin:0 0 18px;
  margin-bottom:1.3846153846153846rem;
  word-wrap:break-word;
}

h1,.h1 {font-size:200%}
h2,.h2 {font-size:180%}
h3,.h3 {font-size:160%}
h4,.h4 {font-size:140%}
h5,.h5 {font-size:120%}
h6,.h6 {font-size:100%}

hr {
  border-top:1px dashed;
  color:inherit;
}

abbr,dfn {
  text-decoration:none;
  cursor:help;
}

abbr[title],dfn[title] {border-bottom:1px solid transparent}
abbr[title]:hover,dfn[title]:hover {border-bottom:1px solid}


/* FORM */

button,
input,
select,
textarea,
.btn {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  display:inline-block;
  width:15.384615384615385em;
  vertical-align:middle;
  padding:.7692307692307693em;
  margin:0;
  font:inherit;
  line-height:normal;
  background:none;
  border:none;
  text-align:left;
}

button {overflow:visible}

select {
  padding-top:.6923076923076923em;
  padding-bottom:.6923076923076923em;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  margin:0;
  padding:0;
  border:none;
  outline:none;
}

textarea {
  overflow:auto;
  height:auto;
  min-height:6.923076923076923em;
  line-height:inherit;
  resize:vertical;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
  width:auto;
  cursor:pointer;
  text-align:center;
  text-decoration:none;
  padding-right:.9230769230769231em;
  padding-left:.9230769230769231em;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

[disabled],
[readonly],
.btn-disabled,
.disabled,
fieldset[disabled] button,
fieldset[disabled] input,
fieldset[disabled] select,
fieldset[disabled] textarea,
fieldset[disabled] .btn {
  cursor:default;
  cursor:not-allowed;
  opacity:.9;
}

.btn-small,
.input-small,
.select-small,
.textarea-small {
  padding:.6261180679785331em .7155635062611807em;
  font-size:86%;
}

.btn-small {padding:.6261180679785331em .8944543828264758em}
.select-small {padding:.5366726296958855em .6261180679785331em}
.textarea-small {line-height:normal}

input[type="checkbox"],
input[type="radio"] {
  width:1.0769230769230769em;
  height:1.0769230769230769em;
  cursor:pointer;
  background:none;
  border:none;
  margin:0;
  padding:0;
  position:relative;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {height:auto}

input[type="color"],
input[type="file"],
input[type="image"],
input[type="range"] {
  margin:0;
  padding:0;
  background:none;
  border:none;
  color:inherit;
  cursor:pointer;
}

input[type="image"] {
  width:auto;
  height:auto;
}

label,select {cursor:pointer}

option,
optgroup {
  margin:0;
  padding:0;
}

optgroup {
  font:inherit;
  font-weight:bold;
}

optgroup option {
  padding-left:1em;
  font-weight:normal;
}

label input:checked + span {opacity:.8}

.form-label,
.form-static {
  display:block;
  padding-top:.7692307692307693em;
  padding-bottom:.7692307692307693em;
  line-height:normal;
}

.form-label {text-align:right}

fieldset {
  padding:1.3846153846153846em 1.3846153846153846em 0;
  border:1px solid;
}

legend {
  margin:0;
  padding:0 .5em;
  white-space:nowrap;
  text-transform:uppercase;
  font-weight:bold;
  font-size:76%;
  line-height:0;
  overflow:visible;
}


/* TABLE */

table {
  border-collapse:collapse;
  max-width:100%;
}

td,th {
  text-align:left;
  vertical-align:top;
}

.table-bordered caption,
table[border="1"] caption {
  margin:0 0 .5em;
  text-align:left;
}

.table-bordered th,
.table-bordered td,
table[border="1"] th,
table[border="1"] td {
  border:1px solid;
  padding:.5em .8em;
  word-wrap:break-word;
}


/* CODE */

pre {
  overflow:auto;
  word-wrap:break-word;
  white-space:pre;
  white-space:-moz-pre-wrap;
  white-space:pre-wrap;
  padding:1em 1.2em;
}

code {font-size:96%}

pre code {
  display:block;
  font-size:100%;
  color:inherit;
}


/* BLOCK */

iframe {
  display:block;
  border:none;
  background:none;
  width:100%;
  height:6.923076923076923em;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

form,blockquote,hr,dl,dd,dt,fieldset,
figcaption,figure,ol,ul,p,pre,table,iframe,
.fluid-audio,.fluid-media,.fluid-video,.grid-group,
.image-container,.p {
  margin-bottom:1.3846153846153846em;
  margin-bottom:1.3846153846153846rem;
}

.grid-group .grid-group:last-child {margin-bottom:0}

ol {
  margin-left:2.3846153846153846em;
  list-style:decimal outside;
}

ul {
  margin-left:2.3846153846153846em;
  list-style:disc outside;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom:0;
  margin-left:1.3846153846153846em;
}

dt {font-size:120%}
dd {margin-left:1em}


/* ALIGNMENT */

.align-left {
  margin-right:1.3846153846153846em;
  padding-top:.38461538461538464em;
  padding-bottom:.38461538461538464em;
}

.align-right {
  margin-left:1.3846153846153846em;
  padding-top:.38461538461538464em;
  padding-bottom:.38461538461538464em;
}


/* MEDIA */

img {
  max-width:100%;
  height:auto;
}