/**
 *
 *  Base    | +8%     | -8%
 *  ------- | ------- | -------
 *  #FFF    |         |
 *  #AAA    |         |
 *  #FF0    |         |
 *  #FFA    |         |
 *  #FAA    |         |
 *  #666    |         |
 *          |         |
 *  #333    | #373737 | #2F2F2F
 *  #365D98 | #3A64A4 | #32568C
 *  #4B9343 | #519F48 | #45873E
 *  #6AAAC2 | #72B8D2 | #629CB2
 *  #DB582C | #ED5F30 | #C95128
 *  #933    | #A53737 | #8D2F2F
 *          |         |
 *  #8EAB1A |         |
 *  #CF3030 |         |
 *  #FFDE76 |         |
 *          |         |
 *  #00A2D1 |         |
 *
 */


/* GENERAL */

html {
  background-color:white;
  color:#333;
  font-family:Helmet,FreeSans,Sans-Serif;
}

body {
  border-top:5px solid;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

a {color:#365D98}

a:focus,
a:hover {color:#666}

blockquote {font-family:Georgia,"URW Bookman L",Serif}
code,pre,.code {font-family:Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,Monospace}

.form-login {padding:10% 0}
.footnotes p {margin:0}
.footnotes ol {font-size:84%}

.footnotes hr {
  border-style:solid;
  border-color:#AAA;
  width:7em;
}


/* MISCELLANEOUS */

::-webkit-input-placeholder {
  color:#AAA;
  opacity:1;
  overflow:visible; /* webkit only :( */
  line-height:inherit;
}

::-moz-placeholder {
  color:#AAA;
  opacity:1;
  line-height:inherit;
}

:-moz-placeholder {
  color:#AAA;
  opacity:1;
  line-height:inherit;
}

:-ms-input-placeholder {
  color:#AAA;
  opacity:1;
  line-height:inherit;
}

:placeholder {
  color:#AAA;
  opacity:1;
  line-height:inherit;
}

:focus::-webkit-input-placeholder {color:#888 !important}
:focus::-moz-placeholder {color:#888 !important}
:focus:-moz-placeholder {color:#888 !important}
:focus:-ms-input-placeholder {color:#888 !important}
:focus:placeholder {color:#888 !important}

::-moz-selection {
  background-color:#F9DC62;
  color:#1A1A1A;
  text-shadow:none;
}

::selection {
  background-color:#F9DC62;
  color:#1A1A1A;
  text-shadow:none;
}

mark {
  background-color:#FF0;
  color:#333;
}

button,
input,
select,
textarea {
  background-color:#333;
  color:white;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
  background-color:#333;
  color:#FFA;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
.btn:focus,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.btn:hover {
  background-color:#373737;
  color:#FFA;
  text-decoration:none;
}

button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.btn:active {
  background-color:#2F2F2F;
  text-decoration:none;
  -webkit-box-shadow:inset 0 2px 1px rgba(0,0,0,.1);
  -moz-box-shadow:inset 0 2px 1px rgba(0,0,0,.1);
  box-shadow:inset 0 2px 1px rgba(0,0,0,.1);
}

input:invalid,
select:invalid,
textarea:invalid {
  color:#FAA;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

.btn-action {background-color:#365D98}
.btn-action:focus,
.btn-action:hover {background-color:#3A64A4}
.btn-action:active {background-color:#32568C}
.btn-accept,
.btn-begin,
.btn-construct {background-color:#4B9343}
.btn-accept:focus,
.btn-accept:hover,
.btn-begin:focus,
.btn-begin:hover,
.btn-construct:focus,
.btn-construct:hover {background-color:#519F48}
.btn-accept:active,
.btn-begin:active,
.btn-construct:active {background-color:#45873E}
.btn-danger,
.btn-destruct,
.btn-error,
.btn-reject {background-color:#933}
.btn-danger:focus,
.btn-danger:hover,
.btn-destruct:focus,
.btn-destruct:hover,
.btn-error:focus,
.btn-error:hover,
.btn-reject:focus,
.btn-reject:hover {background-color:#A53737}
.btn-danger:active,
.btn-destruct:active,
.btn-error:active,
.btn-reject:active {background-color:#8D2F2F}

pre {
  background-color:#333;
  color:white;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}

.text-fade {color:#AAA}
.text-accept,
.text-begin,
.text-construct {color:#4B9343}
.text-info {color:#00A2D1}
.text-warning {color:#DB582C}
.text-danger,
.text-destruct,
.text-error,
.text-reject {color:#933}

.message {
  background-color:#333;
  color:white;
}

.message code {
  color:inherit;
  opacity:.7;
}

.message pre code {opacity:1}
.message-success {background-color:#8EAB1A}
.message-info {background-color:#6AAAC2}

.message-warning {
  background-color:#FFDE76;
  color:#333;
}

.message-error {background-color:#CF3030}

.message-success a,
.message-info a,
.message-error a {color:#FFA}


/* WRAPPER */

.blog-wrapper {
  width:69.23076923076923em;
  margin:0 auto;
}


/* HEADER */

.blog-header {margin:5% 0}
.blog-title {margin:0}
.blog-slogan {margin:1.3846153846153846em 0 0}


/* CONTENT */

.blog-content {
  margin-top:5%;
  overflow:hidden;
}


/* SIDEBAR */

.blog-sidebar {
  width:25%;
  float:left;
  clear:both;
  overflow:hidden;
}

.blog-sidebar .widget {margin:0 0 1.3846153846153846em}
.blog-sidebar h4 {margin:0}

.blog-sidebar-toggle {
  position:absolute;
  top:5px; /* border-top-width */
  left:0;
  width:1.5714285714285714em;
  height:1.4285714285714286em;
  font-size:2.1538461538461537em;
  line-height:1.4285714285714286em;
  text-align:center;
  display:none;
}

.blog-sidebar-toggle .fa {
  display:block;
  width:inherit;
  height:inherit;
  font-size:100%;
  line-height:inherit;
}


/* NAVIGATION */

.blog-navigation {
  height:3.076923076923077em;
  font-weight:bold;
  line-height:3.076923076923077em;
}

.blog-navigation ul,
.blog-navigation li {
  margin:0;
  padding:0;
  list-style:none;
}

.blog-navigation li {
  float:left;
  display:inline;
  position:relative;
}

.blog-navigation a,
.blog-navigation .a {
  display:block;
  padding:0 1.2307692307692308em;
  margin:0 2px 0 0;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  cursor:pointer;
}

.blog-navigation .current > a {
  background-color:#365D98;
  color:white;
}

.blog-navigation .current > a:focus,
.blog-navigation .current > a:hover {background-color:#3A64A4}
.blog-navigation .current > a:active {background-color:#32568C}

.blog-navigation li ul {
  line-height:2.6153846153846154em;
  position:absolute;
  top:100%;
  left:0;
  z-index:999;
  max-width:15.384615384615385em;
  min-width:10.76923076923077em;
  background-color:white;
  border:1px solid;
  -webkit-box-shadow:0 2px 5px rgba(0,0,0,.3);
  -moz-box-shadow:0 2px 5px rgba(0,0,0,.3);
  box-shadow:0 2px 5px rgba(0,0,0,.3);
  visibility:hidden;
}

.blog-navigation li li {
  float:none;
  display:block;
}

.blog-navigation li li a,
.blog-navigation li li .a {
  padding:0 1.1538461538461537em;
  margin:0;
}

.blog-navigation li ul ul {
  top:-1px;
  left:100%;
}

.blog-navigation li:hover > ul {visibility:visible}


/* POST */

.blog-sidebar + .blog-main {
  float:right;
  width:70%;
  padding:0 0 0 5%;
  overflow:hidden;
}

.post + .post {margin-top:5%}

.post-time {
  text-transform:uppercase;
  letter-spacing:.15384615384615385em;
  color:#AAA;
}

.post-time .fa {
  position:relative;
  font-size:107.6923076923077%; /* magic number :( */
  top:-.07692307692307693em; /* magic number :( */
}

.post-index .post-time time {font-size:76.92307692307693%} /* magic number :( */
.post-index .post-time .fa {font-size:84.61538461538461%} /* magic number :( */

.post-footer {margin:5% 0 0}

.page-404 .post-body {
  padding:20% 0;
  text-align:center;
}


/* PAGER */

.blog-pager {
  overflow:hidden;
  margin-top:5%;
}

.blog-pager-prev {float:left}
.blog-pager-next {float:right}


/* COMMENT */

.comments {margin:5% 0 0}

.comments-body {
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
}

.comments-footer {margin:5% 0 0 0}

.comment {
  margin:0;
  padding:1em 0 1em 1em;
  border-left:5px solid transparent;
  overflow:hidden;
}

.comment + .comment {margin-top:2px}

.comment-pilot {border-left-color:#365D98}

.comment-intruder {
  opacity:.4;
  pointer-events:none;
}

.comment-avatar {float:left}

.comment-avatar img {
  display:block;
  width:60px;
  height:60px;
  max-width:none;
  max-height:none;
}

.comment-avatar + .comment-header,
.comment-avatar + .comment-header + .comment-body,
.comment-avatar + .comment-header + .comment-body + .comment-footer {
  margin-left:60px;
  padding-left:1.3846153846153846em;
  overflow:hidden;
}

.comment-header,
.comment-body {
  margin-bottom:.6153846153846154em;
  overflow:hidden;
}

.comment-footer {text-align:right}

.comment-name {
  display:block;
  margin:0;
  padding:0;
  float:left;
  font:inherit;
  font-weight:bold;
}

.comment-time {
  display:block;
  margin:0;
  padding:0;
  float:right;
  color:#AAA;
}

.comment-form input[name="math"] {width:4em}


/* FOOTER */

.blog-footer {
  margin:5% 0;
  clear:both;
  overflow:hidden;
}

.blog-footer-left {float:left}
.blog-footer-right {float:right}


/* WIDGET */

.widget ul,
.widget ul li {
  margin:0;
  padding:0;
  list-style:none;
}

.widget ul li {
  padding:.38461538461538464em 0;
  border-bottom:1px solid;
}

.widget ul li:first-child {border-top:1px solid}
.widget-archive-hierarchy ul li,
.widget-archive-hierarchy ul li:first-child {
  padding:0;
  border:none;
}

.widget-title + .widget-content {margin-top:.6153846153846154em}

.blog-sidebar .widget-search {
  background-color:#333;
  overflow:hidden;
  position:relative;
}

.blog-sidebar .widget-search input,
.blog-sidebar .widget-search button {
  display:block;
  width:100%;
  float:left;
  margin:0;
  padding:.7692307692307693em 2.923076923076923em .7692307692307693em .9230769230769231em;
  border:none;
  background:none;
}

.blog-sidebar .widget-search button {
  padding-right:0;
  padding-left:0;
  width:2.923076923076923em;
  position:absolute;
  top:0;
  right:0;
}

.widget-recent-response ul li,
.widget-recent-response ul li:first-child {
  border-width:0;
  padding:0;
}

.widget-recent-response ul li + li {margin-top:.6153846153846154em}
.widget-recent-response .recent-response-time {color:#AAA}


/* SMALLER SCREEN */

@media (max-width:60em) {
  .blog-wrapper {
    width:auto;
    margin:0 5%;
  }
}

@media (max-width:43.125em) {
  body {padding-top:3.076923076923077em}
  .blog-header {text-align:center}
  .blog-navigation {
    display:none;
    height:auto;
  }
  .blog-navigation li {
    float:none;
    display:block;
  }
  .blog-navigation li ul {
    visibility:visible;
    margin-top:0;
    opacity:1;
    position:static;
    width:auto;
    max-width:100%;
    min-width:0;
    background:none;
    border:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
  }
  .blog-navigation li li ul {margin-left:0}
  .blog-navigation li ul a,
  .blog-navigation li ul .a {
    font-weight:normal;
    font-size:96%;
    margin:0;
  }
  .blog-navigation li ul ul {margin-left:1em}
  .blog-sidebar,
  .blog-main,
  .blog-sidebar + .blog-main {
    float:none;
    display:block;
    clear:both;
    width:auto;
    padding:0;
  }
  .blog-sidebar {
    padding-bottom:5%;
    display:none;
  }
  .blog-sidebar .widget-wrapper:last-child .widget {margin-bottom:0}
  .blog-sidebar-toggle,
  .blog-sidebar-is-visible .blog-navigation,
  .blog-sidebar-is-visible .blog-sidebar {display:block}
  .blog-sidebar-is-visible .blog-sidebar-toggle {
    position:static;
    float:left;
    margin:0 0 5%;
  }
  .blog-footer {text-align:center}
  .blog-footer-left,
  .blog-footer-right {
    float:none;
    display:inline;
  }
  .blog-footer-right:before {
    content:"\2013";
    color:#AAA;
    margin:0 1em;
  }
  .align-left,
  .align-right {
    float:none;
    display:block;
    margin:0 auto 1.3846153846153846em;
    text-align:center;
  }
}

@media (max-width:36.25em) {
  .grid-group {
    margin-right:0;
    margin-left:0;
  }
  .grid {
    float:none;
    display:block;
    width:auto;
    margin:0;
    padding:0;
    text-align:inherit;
  }
  .grid.form-label {
    line-height:inherit;
    margin-bottom:1.3846153846153846em;
  }
  .grid:empty {display:none}
  .form-login {padding:0}
}